:root {
  --white: #ffffff;
  --menu-color-hover: #e0dbdb;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --animation-duration: 250 ms linear;
  --dairy: #fcfcfc;
  --outline-on-off: 2px solid red;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  outline: var(--outline-on-off);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .container {
    width: 396px;
    outline: var(--outline-on-off);
  }
  .menu {
    display: none;
  }
  .header-address-link {
    display: none;
  }
  .mobile-menu-open-icon {
    stroke: var(--navy-blue);
    z-index: 1000;
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
    margin-right: auto;
    margin-left: auto;
    outline: var(--outline-on-off);
  }

  .menu {
    display: flex;
  }
  .mobile-menu-open-icon {
    display: none;
    stroke: var(--navy-blue);
  }

  .tablet-header-address-link {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1128px;
    outline: var(--outline-on-off);
  }
  .header-container {
    height: 72px;
  }
  .mobile-menu-open-icon {
    display: none;
  }

  .contacts {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }
}
