:root {
  --white: #ffffff;
  --menu-color-hover: #e0dbdb;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --animation-duration: 250 ms linear;
  --dairy: #fcfcfc;
  --outline-on-off: 2px solid red;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  outline: var(--outline-on-off);
}

@media screen and (min-width: 0px) and (max-width: 468px) {
  .mobile-phone {
    font-size: 24px;
  }

  .mob-studio-soc-list {
    gap: 36px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1158px) {
  .customers-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .services-headers {
    margin-top: 8px;
  }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .services-headers {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .hero {
    padding: 112px;
  }
  .containerFooterTab {
    width: 584px;
  }

  .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .footer-container {
    flex-direction: row;
    gap: 72px 24px;
  }
  .subscribe-button {
    margin-top: 0;
    margin: 0;
  }
  .subscribe-field {
    width: 264px;
  }
  .footer-soc-p {
    text-align: left;
    margin-top: -30px;
  }
  .subscribe-header {
    text-align: left;
  }
  .footer-logo-soc-link-header {
    text-align: left;
  }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .menu {
    display: none;
  }
  .header-address-link {
    display: none;
  }

  .mobile-menu-open-icon {
    stroke: var(--navy-blue);
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .products {
    display: none;
  }
}

@media screen and (min-width: 469px) and (max-width: 767px) {
  .container {
    outline: var(--outline-on-off);
  }
  .footer-container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    margin-right: auto;
    margin-left: auto;
    outline: var(--outline-on-off);
  }

  .menu {
    display: flex;
  }
  .mobile-menu-open-icon {
    display: none;
    stroke: var(--navy-blue);
  }

  .tablet-header-address-link {
  }
  .services-item {
    display: flex;
    width: calc((100% - 24px) / 2);
    flex-wrap: wrap;
  }
  .products {
    display: none;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: scale(0);
    background: var(--ocean);
    transition: transform 250ms linear, opacity 250ms linear;
    bottom: -1px;
    border-radius: 2px;
  }

  .header-link:hover:after,
  .header-link:focus:after,
  .header-link.current:after {
    opacity: 1;
    transform: scale(1);
  }

  .header-link:hover,
  .header-link:focus,
  .header-link.current {
    color: var(--ocean);
  }

  .header-address-link {
    color: var(--slate);
    letter-spacing: 0.02em;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    font-size: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: var(--ocean);
  }
  .mobile-menu {
    display: none;
  }
  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
  }
  .containerTeam {
    max-width: 582px;
    padding-left: 15px;
    padding-right: 15px;
    outline: var(--outline-on-off);
  }
  .containerCustomers {
    max-width: 582px;
    padding-left: 15px;
    padding-right: 15px;
    outline: var(--outline-on-off);
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .customers-list {
    column-gap: 24px;
  }

  .customers-items {
    width: calc((100% - 48px) / 3);
  }
  .products {
    display: none;
  }
  .modal {
    width: 408px;
  }
  .footer-logo-p {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .containerTeam {
    max-width: 1158px;
  }
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    outline: var(--outline-on-off);
  }

  .mobile-menu-open-icon {
    display: none;
  }

  .contacts {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .hero-button {
    margin-top: 47px;
  }

  .services-icon {
    display: flex;
  }
  .services {
    padding: 120px 0;
  }

  .services-item {
    display: block;
    width: calc((100% - 72px) / 4);
  }
  .services-headers {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
  .services-text {
    color: var(--slate);
    font-weight: 400;
  }
  .team {
    padding: 120px 0 120px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team-list {
    display: flex;
    gap: 72px 24px;
  }

  .customers-list {
    gap: 24px;
  }
  .customers-items {
    width: calc((100% - 120px) / 6);
  }

  .subscribe {
    margin-left: 80px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer-soc-p {
    margin-top: 0;
  }
  .subscribe-header {
    margin-top: 0;
    text-align: left;
  }
  .subscribe-field {
    display: flex;
    width: 264px;
  }

  .subscribe-button {
    display: flex;
    margin-top: 0;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .products {
    display: none;
  }

  .footer-logo-p {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    display: block;
  }

  .modal {
    width: 408px;
  }
  .footer-logo-soc-link-header {
    text-align: left;
  }
}
