:root {
  --white: #ffffff;
  --menu-color-hover: #e0dbdb;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue: #2e2f42;
  --slate: #434455;
  --light-slate: #8e8f99;
  --green: #31d0aa;
  --animation-duration: 250 ms linear;
  --dairy: #fcfcfc;
  --outline-on-off: 2px solid red;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  outline: var(--outline-on-off);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .menu {
    display: none;
  }
  .header-address-link {
    display: none;
  }
  .mobile-menu-open-icon {
    stroke: var(--navy-blue);
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .products {
    display: none;
  }
}

@media screen and (min-width: 469px) and (max-width: 767px) {
  .container {
    width: 767px;
    outline: var(--outline-on-off);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
    margin-right: auto;
    margin-left: auto;
    outline: var(--outline-on-off);
  }

  .menu {
    display: flex;
  }
  .mobile-menu-open-icon {
    display: none;
    stroke: var(--navy-blue);
  }

  .tablet-header-address-link {
    display: flex;
  }
  .services-item {
    display: flex;
    width: calc((100% - 24px) / 2);
    flex-wrap: wrap;
    gap: 8px;
  }
  .products {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .containerTeam {
    max-width: 582px;
    padding-left: 15px;
    padding-right: 15px;
    outline: var(--outline-on-off);
  }
  .containerCustomers {
    max-width: 582px;
    padding-left: 15px;
    padding-right: 15px;
    outline: var(--outline-on-off);
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .customers-list {
    column-gap: 24px;
  }

  .customers-items {
    width: calc((100% - 48px) / 3);
  }
  .products {
    display: none;
  }
}

@media screen and (min-width: 1128px) {
  .containerTeam {
    max-width: 1128px;
  }
  .container {
    max-width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    outline: var(--outline-on-off);
  }

  .header-container {
    height: 72px;
  }
  .mobile-menu-open-icon {
    display: none;
  }

  .contacts {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
  }

  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  .hero-button {
    margin-top: 47px;
  }

  .services-icon {
    display: flex;
  }
  .services {
    padding: 120px 0;
  }

  .services-item {
    display: block;
    width: calc((100% - 72px) / 4);
  }
  .services-headers {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    margin-bottom: 8px;
  }
  .services-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--slate);
    line-height: 1.5;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team-list {
    display: flex;
    gap: 72px 24px;
  }

  .customers-list {
    gap: 24px;
  }
  .customers-items {
    width: calc((100% - 120px) / 6);
  }
  .footer-logo-p {
    margin-right: 120px;
  }
  .subscribe {
    margin-left: 80px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
  }
  .footer-soc-p {
    margin-top: 0;
  }
  .subscribe-header {
    margin-top: 0;
  }
  .subscribe-field {
    display: flex;
    width: 264px;
  }

  .subscribe-button {
    display: flex;
    margin-top: 0;
  }
  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .products {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .products {
    display: block;
  }
}
